.card{
    background-color: #c2c1c1;  
}
.card__title{
    color: #282828;
    font-size: 14px;
}
.card__description{
    color: #000000;
    font-size: 12px;
}
.card__img-top{
    width: 288px;
    height: 182px;
    padding: 10px;
    margin-bottom: 1em;
}
header{
    background-color: #ffffff;
    height: 10px;
    
}
footer{
    background-color: #ffffff;
    height: 10px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}